:root {
  --primary: #b4783b;
  --bg1: #23211e;
  --bg2: #030303;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg2);
  color: white;
  /* height: 5000px; */
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(3, 3, 3, 0.8);
  border-bottom: 1px solid #65401b;
  padding: 1.4rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  color: white;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 700;
}

.navbar .navbar-logo span {
  color: #b4783b;
}

.navbar .navbar-nav a {
  font-size: 1.2rem;
  color: white;
  margin: 0 1rem;
  display: inline-block;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.6);
}

.navbar .navbar-extra a {
  margin: 0 0.5rem;
  color: white;
}
.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#menu-list {
  display: none;
}

/* search-box navbar */
.navbar .search-form {
  position: absolute;
  top: 101%;
  right: 7%;
  width: 50rem;
  height: 5rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form #search-box {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg1);
  padding: 1rem;
}

/* navbar shopping-cart */
.navbar .shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  background-color: #ffffff;
  color: var(--bg1);
  transition: 0.4s;
}

.navbar .shopping-cart.active {
  right: 0%;
}

.navbar .shopping-cart img {
  height: 6rem;
  border-radius: 50%;
}

.navbar .shopping-cart .cart-item {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.navbar .shopping-cart h3 {
  font-size: 1.4rem;
  padding-bottom: 0.4rem;
}
.navbar .shopping-cart .item-price {
  font-size: 1.2rem;
}

.navbar .shopping-cart .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
.navbar .shopping-cart .remove-item:hover {
  color: var(--primary);
}

/* section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/kari-shea-pJn9WhMqFIs-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 35%;
  background: linear-gradient(0deg, rgba(3, 3, 3, 1) 6%, rgba(87, 57, 14, 0) 45%);
}
.hero .konten {
  padding: 1.3rem 7%;
  max-width: 53.3rem;
}
.hero .konten h1 {
  color: white;
  font-size: 3em;
  line-height: 1.2em;
  text-shadow: 1px 1px 3px rgba(3, 3, 3, 0.5);
}
.hero .konten p {
  color: white;
  font-size: 1em;
  text-shadow: 1px 1px 3px rgba(3, 3, 3, 0.5), -1px -1px 3px rgba(3, 3, 3, 0.5);
  /* mix-blend-mode: difference; */
}

.hero .konten h1 span {
  color: var(--primary);
}

.hero .konten .cta {
  display: inline-block;
  color: white;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background-color: var(--primary);
  font-size: 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px rgba(3, 3, 3, 0.8);
}

.about,
.menu,
.products,
.contact {
  padding: 7rem 7% 1.4rem;
}
.about h2,
.menu h2,
.products h2,
.contact h2 {
  font-size: 2.7rem;
  text-align: center;
  margin-bottom: 3rem;
}
.about h2 span,
.menu h2 span,
.products h2 span,
.contact h2 span {
  color: var(--primary);
}
/* About */
.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .konten-about {
  flex: 1 1 35rem;
  padding: 0 1rem;
}
.about .row .konten-about h3 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
.about .row .konten-about p {
  margin-bottom: 0.8rem;
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
/* menu */
.menu h2 {
  margin-bottom: 1rem;
}
.menu p,
.products p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6rem;
  font-size: 1.13rem;
}
.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  text-align: center;
  justify-content: center;
}
.menu .row .menu-card {
  padding-bottom: 4rem;
}
.menu .row .menu-card img {
  border-radius: 50%;
  width: 80%;
}

.menu .row .menu-card .menu-card-title {
  margin: 1rem auto 1.2rem;
}

/* product */
.products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.products .product-card {
  text-align: center;
  border: 1px solid #666;
  padding: 2rem;
}

.products .product-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.products .product-icons a {
  border: 1px solid #666;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: 0.3rem;
  color: #fff;
  align-items: center;
}

.products .product-icons a:hover {
  background-color: var(--primary);
}

.products .product-image {
  padding: 1rem 0;
}
.products .product-image img {
  object-fit: cover;
  height: 25rem;
}

.products .product-content h3 {
  font-size: 1.8rem;
}

.products .product-star {
  font-size: 1.5rem;
  padding: 0.8rem;
  color: var(--primary);
}

.products .product-star .star-fill {
  fill: var(--primary);
}

.products .product-price {
  font-size: 1.2rem;
  font-weight: bold;
}
.products .product-price span {
  text-decoration: line-through;
  font-size: 0.8rem;
  font-weight: lighter;
  vertical-align: middle; /* Menengahkan dari sampingnya */
  display: inline-block; /* Mengubah elemen menjadi blok agar properti vertical-align bekerja */
}

/* contact */

.contact .row {
  display: flex;
  margin-top: 2.2rem;
  background-color: var(--bg1);
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  padding-left: 2rem;
  background-color: var(--bg2);
  border: 1px solid rgb(133, 132, 132);
}

.contact .row form .input-group input {
  width: 100%;
  font-size: 1.5rem;
  color: #fff;
  background: none;
  padding: 2rem;
}

.contact .row form .btn {
  display: inline-block;
  padding: 1rem 3rem;
  margin-top: 2.5rem;
  color: white;
  font-weight: 300;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: var(--primary);
}

/* footer */
footer {
  text-align: center;
  background-color: var(--primary);
  padding: 1.3rem 0;
  margin-top: 3rem;
}

footer .socials,
footer .links,
footer .credit {
  padding: 0.5rem 0;
}

footer .socials a,
footer .links a {
  padding: 0rem 0.3rem;
}
footer .socials a {
  margin: 0rem 0.2rem;
}

footer .links a {
  margin: 0rem 1rem;
}

footer .socials a,
footer .links a {
  color: #fff;
}

footer .credit p a {
  color: var(--bg1);
  font-weight: 700;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg1);
}

footer .credit p a:hover {
  color: rgb(47, 47, 185);
}

/* media queries */
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tab */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #menu-list {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.4s linear;
  }
  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    font-size: 2rem;
    color: var(--bg1);
    display: block;
    margin: 2rem;
    padding: 0.8rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  /* about */
  .about .row {
    flex-wrap: wrap;
  }
  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }
  .about .row .konten-about {
    padding: 0;
  }
  .about .row .konten-about h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .konten-about p {
    font-size: 1.5rem;
  }

  /* contact */
  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  .navbar .search-form {
    right: 2rem;
    width: 90%;
  }
}

/* HP */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
